---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Tesla Clone">
  <main>
    <section
      class="bg-black h-screen w-screen text-left overflow-hidden relative"
    >
      <Header />
      <HeroSection />
    </section>
  </main>
</Layout>
