---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import HeroSection2 from "../components/HeroSection2.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Tesla Clone">
  <Header />

  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center"><HeroSection /></div>
    <div class="snap-center"><HeroSection2 /></div>
    <div class="snap-center"><HeroSection2 /></div>
    <div class="snap-center"><HeroSection2 /></div>
  </main>
</Layout>
