---
import CybertruckLogo from "../icons/Cybertruck.astro";
---

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="
  white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header class="font-base justify-items-center mt-5">
      <CybertruckLogo class="size-80" />
      <p class="mt-[-100px] text-white font-bold">LEASE STARTING AT $899/MO'</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pt-[500px]">
      <div class="flex gap-4 m-auto">
        <a
          class="bg-black/70 text-xs w-64 h-12 border-t-4 border-gray-700 font-semibold text-gray-400 px-12 py-3 hover:bg-gray-900/80 active:bg-white/20 active:border-t-4 active:border-white active:text-white transition-colors inline-flex justify-center items-center"
          >ORDER NOW
        </a>
        <a
          class="bg-black/70 text-xs w-64 h-12 border-[1px] border-gray-700 font-semibold text-gray-400 px-12 py-3 hover:bg-gray-900/80 active:bg-white/20 active:border-[1px] active:border-white active:text-white transition-colors inline-flex justify-center items-center"
          >LEARN MORE
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/cybertruck.avif"
      alt="Modelo auto"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
