<div class="z-30 relative">
  <div class="pt-56 flex flex-col justify-self-center">
    <header>
      <h2 class="text-white text-5xl ml-16 font-semibold">0% APR Available</h2>
    </header>
    <footer>
      <button
        class="mt-5 font-semibold text-xs bg-white rounded-md w-64 h-10 text-gray-600"
        >Order Model 3
      </button>
      <button
        class="mt-5 font-semibold text-xs ml-6 bg-white rounded-md w-64 h-10 text-gray-600"
        >Order Model Y
      </button>
    </footer>
  </div>
</div>
<!-- Video (con un z-index más bajo que el header y la promoción) -->
<div class="absolute top-0 bottom-0 h-full w-full z-10">
  <img src="/homepage.avif" alt="Modelo auto" />
</div>
