---

---

<section
  class="landing-section bg-black h-screen w-screen text-left overflow-hidden relative"
  data-header-color:"white"
>
  <div class="z-30 relative">
    <header>
      <h2 class="text-white pt-[480px] pl-12 text-4xl font-semibold">
        We Are Tesla
      </h2>
    </header>
    <footer>
      <button
        class="flex justify-center mt-5 font-semibold text-xs p-3 ml-12 bg-white rounded-md w-48 h-10 text-gray-600"
        >Join Tesla
      </button>
    </footer>
  </div>
  <!-- Video (con un z-index más bajo que el header y la promoción) -->
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="/video.webm"></video>
  </div>
</section>
