<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="
  black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header class="font-semibold">
      <h2 class="text-[60px] pt-40">Model Y</h2>
      <a href="#" class="text-[30px] underline">0% APR Available</a>
      <p class="pt-2">Lease Starting at $299/mo'</p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pt-[500px]">
      <div class="flex gap-4 m-auto">
        <a
          class="bg-blue-400 text-xs rounded-md w-64 h-10 font-semibold text-white px-12 py-3 active:border-[2px] border-white transition-colors inline-flex justify-center items-center"
          >Order now
        </a>
        <a
          class="bg-white text-xs rounded-md w-64 h-10 font-semibold text-gray-700 px-12 py-3 active:border-[2px] border-black transition-all inline-flex justify-center items-center"
          >Learn More
        </a>
      </div>
    </footer>
  </div>

  <!-- Video (con un z-index más bajo que el header y la promoción) -->
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/modely.avif"
      alt="Modelo auto"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
